@mixin floats {
    .f1 {
        &:hover {
            opacity: 0.6;
            transition: all 0.5s ease;
        }
        position: absolute;
        left: 80%;
        top: 40%;
        opacity: 0.3;
        transition: all 0.5s ease;
    }
    .f2 {
        &:hover {
            opacity: 0.6;
            transition: all 0.5s ease;
        }
        position: absolute;
        left: 19.6%;
        top: 29%;
        opacity: 0.3;
        transition: all 0.5s ease;
    }
    .f3 {
        &:hover {
            opacity: 0.6;
            transition: all 0.5s ease;
        }
        position: absolute;
        left: 60.5%;
        top: 85%;
        opacity: 0.3;
        transition: all 0.5s ease;
    }
    .f4 {
        &:hover {
            opacity: 0.6;
            transition: all 0.5s ease;
        }
        position: absolute;
        left: 83%;
        top: 65%;
        opacity: 0.3;
        transition: all 0.5s ease;
    }
    .f5 {
        &:hover {
            opacity: 0.6;
            transition: all 0.5s ease;
        }
        position: absolute;
        left: 12%;
        top: 50%;
        opacity: 0.3;
        transition: all 0.5s ease;
    }
    .f6 {
        &:hover {
            opacity: 0.6;
            transition: all 0.5s ease;
        }
        position: absolute;
        left: 83%;
        top: 20%;
        opacity: 0.3;
        transition: all 0.5s ease;
    }
    .f7 {
        &:hover {
            opacity: 0.6;
            transition: all 0.5s ease;
        }
        position: absolute;
        left: 60%;
        top: 9%;
        opacity: 0.3;
        transition: all 0.5s ease;
    }
    .f8 {
        &:hover {
            opacity: 0.6;
            transition: all 0.5s ease;
        }
        position: absolute;
        left: 10%;
        top: 14%;
        opacity: 0.3;
        transition: all 0.5s ease;
    }
    .f9 {
        &:hover {
            opacity: 0.6;
            transition: all 0.5s ease;
        }
        position: absolute;
        left: 27%;
        top: 79%;
        opacity: 0.3;
        transition: all 0.5s ease;
    }
    .f10 {
        &:hover {
            opacity: 0.6;
            transition: all 0.5s ease;
        }
        position: absolute;
        left: 10%;
        top: 90%;
        opacity: 0.3;
        transition: all 0.5s ease;
    }
}
